@model CheckoutViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration;
@{ var culture = CultureInfo.CurrentCulture.Name; }

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li class="active"> SHOPPING CART</li>
</ul>

<h3>  SHOPPING CART [ <simall>@Model.CartItems.Count() Item(s) </simall>]<a href="/" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
<hr class="soft" />
@if (TempData["SuccessMsg"] != null)
{
    <span class="alert alert-success">@TempData["SuccessMsg"]</span>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Tax</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td> <img width="60" src="@(_configuration["BaseAddress"]+item.Image)" alt="@item.Name" /></td>
                    <td>@item.Description</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                    <td>--</td>
                    <td>--</td>
                    <td>@(item.Price*item.Quantity)</td>
                </tr>
            }
            <tr>
                <td colspan="6" style="text-align:right"><strong>TOTAL = </strong></td>
                <td class="label label-important" style="display:block"> <strong>@(Model.CartItems.Sum(x => x.Quantity * x.Price)) </strong></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <tr><th>ESTIMATE YOUR SHIPPING </th></tr>
        <tr>
            <td>
                <form class="form-horizontal" action="/@culture/Cart/Checkout" method="post">
                    <div class="control-group">
                        <label class="control-label" for="inputName">Name </label>
                        <div class="controls">
                            <input type="text" id="inputName" asp-for="CheckoutModel.Name" placeholder="Name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputAddress">Address</label>
                        <div class="controls">
                            <input type="text" id="inputAddress" asp-for="CheckoutModel.Address" placeholder="Address">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Email</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" asp-for="CheckoutModel.Email" placeholder="Email">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPhoneNumber">PhoneNumber</label>
                        <div class="controls">
                            <input type="text" id="inputPhoneNumber" asp-for="CheckoutModel.PhoneNumber" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">PurChase</button>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </table>
    <a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
}